<html>
  <head>
    <title>运动健康数据可视化大屏</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" />
    <style type="text/css"></style>
  </head>
  <link rel="icon" type="image.png" href="../static/images/favicon.ico" />
  <link rel="stylesheet" href="../static/js/fun.css" />
  <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css" />
  <script src="../static/echart/opt/vue.js"></script>
  <script src="../static/echart/opt/dv.js"></script>
  <script src="../static/js/jquery-2.2.3.min.js"></script>
  <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>

  <body style="background-color: rgba(10, 2, 39, 0.796)">
    <div class="container_fluid">
      <div class="row_fluid" id="vue_app">
        <div class="col-xs-12 col-md-12" style="padding: 0 0">
          <h3
            style="color: rgba(11, 240, 125, 0.796); text-align: center"
            id="container_0"
          >
            <strong></strong>
          </h3>
          <dv-decoration-5 style="width: 100%; height: 4%"> </dv-decoration-5>
        </div>

        <div class="col-xs-12 col-md-3" style="padding: 0 0">
          <div style="height: 15%; padding: 0%">
            <dv-border-box-7>
              <p
                style="
                  padding: 2%;
                  color: rgba(11, 240, 125, 0.796);
                  font-size: 12;
                  font-weight: bolder;
                "
              >
                实时步数
                <img src="../static/myimg/1.png" style="height: 25%" />
              </p>

              <p
                id="container_1"
                style="
                  padding: 0%;
                  color: rgba(255, 255, 255, 0.5);
                  font-size: 28;
                  font-weight: bolder;
                  text-align: center;
                "
              >
                112222
              </p>
            </dv-border-box-7>
          </div>
        </div>

        <div class="col-xs-12 col-md-3" style="padding: 0 0">
          <div style="height: 15%; padding: 1%">
            <dv-border-box-7>
              <p
                style="
                  padding: 2%;
                  color: rgba(11, 240, 125, 0.796);
                  font-size: 12;
                  font-weight: bolder;
                "
              >
                心率
                <img src="../static/myimg/2.png" style="height: 25%" />
              </p>
              <p
                id="container_2"
                style="
                  padding: 0%;
                  color: rgba(255, 255, 255, 0.5);
                  font-size: 28;
                  font-weight: bolder;
                  text-align: center;
                "
              >
                112222
              </p>
            </dv-border-box-7>
          </div>
        </div>

        <div class="col-xs-12 col-md-3" style="padding: 0 0">
          <div style="height: 15%; padding: 1%">
            <dv-border-box-7>
              <p
                style="
                  padding: 2%;
                  color: rgba(11, 240, 125, 0.796);
                  font-size: 12;
                  font-weight: bolder;
                "
              >
                血氧饱和度
                <img src="../static/myimg/3.png" style="height: 25%" />
              </p>
              <p
                id="container_3"
                style="
                  padding: 0%;
                  color: rgba(255, 255, 255, 0.5);
                  font-size: 28;
                  font-weight: bolder;
                  text-align: center;
                "
              >
                112222
              </p>
            </dv-border-box-7>
          </div>
        </div>

        <div class="col-xs-12 col-md-3" style="padding: 0 0">
          <div style="height: 15%; padding: 1%">
            <dv-border-box-7>
              <p
                style="
                  padding: 2%;
                  color: rgba(11, 240, 125, 0.796);
                  font-size: 12;
                  font-weight: bolder;
                "
              >
                压力
                <img src="../static/myimg/4.png" style="height: 25%" />
              </p>
              <p
                id="container_4"
                style="
                  padding: 0%;
                  color: rgba(255, 255, 255, 0.5);
                  font-size: 28;
                  font-weight: bolder;
                  text-align: center;
                "
              >
                112222
              </p>
            </dv-border-box-7>
          </div>
        </div>

        <div class="col-xs-12 col-md-5" style="padding: 0 0">
          <div style="height: 75%" id="container_5"></div>
        </div>

        <div class="col-xs-12 col-md-4" style="padding: 0 0.3%; height: 25%">
          <dv-border-box-6>
            <div style="padding: 3%; height: 100%" id="container_6"></div>
          </dv-border-box-6>
        </div>

        <div class="col-xs-12 col-md-3" style="padding: 0 0.3%; height: 25%">
          <dv-border-box-6>
            <div style="padding: 3%; height: 100%" id="container_7"></div>
          </dv-border-box-6>
        </div>

        <div class="col-xs-12 col-md-4" style="padding: 0 0.3%; height: 25%">
          <dv-border-box-6>
            <div style="padding: 3%; height: 100%" id="container_8"></div>
          </dv-border-box-6>
        </div>

        <div class="col-xs-12 col-md-3" style="padding: 0 0.3%; height: 25%">
          <dv-border-box-6>
            <div style="padding: 3%; height: 100%" id="container_9"></div>
          </dv-border-box-6>
        </div>

        <div class="col-xs-12 col-md-4" style="padding: 0 0.3%; height: 25%">
          <dv-border-box-6>
            <div style="padding: 3%; height: 100%" id="container_10"></div>
          </dv-border-box-6>
        </div>

        <div class="col-xs-12 col-md-3" style="padding: 0 0.3%; height: 25%">
          <dv-border-box-6>
            <div style="padding: 3%; height: 100%" id="container_11"></div>
          </dv-border-box-6>
        </div>
      </div>
    </div>
  </body>
</html>
<script>
  var vapp = new Vue({
    el: "#vue_app",
    data: {},
  });
</script>

<!-- 导致dv布局丢失一个？？？？ -->
<!-- 通常这种诡异的问题就是引入的文件互相干扰了！！！ -->
<!-- <script type="text/javascript" src="/static/echart/dist/echarts.min.js"></script> -->
<script
  type="text/javascript"
  src="../static/echart/dist/echarts.min.js"
></script>
<script src="../static/echart/dist/china.js"></script>
<script src="../static/js/fun.js"></script>
<script src="../static/js/scroll.js"></script>
<script src="../static/echart/theme/macarons1905291142.js"></script>
<script
  type="text/javascript"
  src="../static/bootstrap/js/bootstrap.min.js"
></script>
<script src="../static/js/loader.js"></script>
