<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>U-health疫情</title>
    <link rel="shortcut icon" href="/img/favicon.ico"/>
    <link
      href="https://unpkg.com/layui@2.6.8/dist/css/layui.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/main.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.3.1/dist/echarts.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@4.8.0/map/js/china.js"></script>
    <!-- <script src="../static/js/echarts-wordcloud.min.js"></script> -->
    <script src="https://unpkg.com/layui@2.6.8/dist/layui.js"></script>

  </head>
  <body onresize="refreshPage()">
    <div id="gyroContain">
      <div id="nav">
        <!--<div class="layui-fluid">-->
        <ul class="layui-nav" lay-filter="">
          <li class="layui-nav-item"><a onclick="loginhtml()">登录</a></li>
          <li class="layui-nav-item layui-this"><a href="">产品</a></li>
          <li class="layui-nav-item"><a href="">大数据</a></li>
          <li class="layui-nav-item">
            <a href="javascript:;">解决方案</a>
            <dl class="layui-nav-child">
              <dd><a href="">移动模块</a></dd>
              <dd><a href="">后台模版</a></dd>
              <dd><a href="">电商平台</a></dd>
            </dl>
          </li>
          <li class="layui-nav-item"><a href="">社区</a></li>
        </ul>

        <script>
          //注意：导航 依赖 element 模块，否则无法进行功能性操作
          layui.use("element", function () {
            var element = layui.element;

            //…
          });
          function loginhtml() {
            $.ajax({
              url:"/loginhtml",
              success: function(data){
                if(data){
                  window.location.href = '/loginhtml'
                }
              }
            })
          }
        </script>
        <!--</div>-->
      </div>
      <div id="title">新冠疫情实时追踪</div>
      <div id="tim"></div>
      <div id="l1">我是左1</div>
      <div id="l2">
        <div class="title">中高风险地区</div>
        <div class="ts"></div>

        <div id="risk_wrapper">
          <div id="risk_wrapper_li1">
            <ul></ul>
          </div>
          <div id="risk_wrapper_li2"></div>
        </div>
      </div>
      <div id="c1">
        <!-- <div class="num"><h1></h1></div>
        <div class="num"><h1></h1></div>
        <div class="num"><h1></h1></div>
        <div class="num"><h1></h1></div>
        <div class="txt"><h2>累计确诊</h2></div>
        <div class="txt"><h2>目前确诊</h2></div>
        <div class="txt"><h2>累计治愈</h2></div>
        <div class="txt"><h2>累计死亡</h2></div> -->
        <div class="card">
          <div class="container">
            <!-- 背景文字 -->
            <div class="text">抗击</div>
            <!-- 背景的圆形图案 -->
            <div class="circle1"></div>
            <!-- 商品图片 -->
            <div class="img">
              <img src="https://s1.ax1x.com/2022/03/18/qPvo0s.png" alt="" />
            </div>
            <!-- 商品名字 -->
            <h3>累计确诊</h3>
            <!-- 数字 -->
            <div class="num1"><h1 id="num1">111111</h1></div>
            <!-- 超链接 -->
            <div class="a">
              <a href="https://i.snssdk.com/ugc/hotboard_fe/hot_list/template/hot_list/forum_tab.html?city_name=%E4%B8%8A%E6%B5%B7&city_code=310000&activeWidget=1&share_token=f512e6e5-f3c4-4d84-9b4d-7ddbf09c672e">了解更多</a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="container">
            <!-- 背景文字 -->
            <div class="text">新冠</div>
            <!-- 背景的圆形图案 -->
            <div class="circle2"></div>
            <!-- 商品图片 -->
            <div class="img">
              <img src="https://s1.ax1x.com/2022/03/18/qPvo0s.png" alt="" />
            </div>
            <!-- 商品名字 -->
            <h3>目前确诊</h3>
            <!-- 数字 -->
            <div class="num1"><h1 id="num2">111111</h1></div>
            <!-- 超链接 -->
            <div class="a">
              <a href="https://i.snssdk.com/ugc/hotboard_fe/hot_list/template/hot_list/forum_tab.html?city_name=%E4%B8%8A%E6%B5%B7&city_code=310000&activeWidget=1&share_token=f512e6e5-f3c4-4d84-9b4d-7ddbf09c672e">了解更多</a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="container">
            <!-- 背景文字 -->
            <div class="text">肺炎</div>
            <!-- 背景的圆形图案 -->
            <div class="circle3"></div>
            <!-- 商品图片 -->
            <div class="img">
              <img src="https://s1.ax1x.com/2022/03/18/qPvo0s.png" alt="" />
            </div>
            <!-- 商品名字 -->
            <h3>累计治愈</h3>
            <!-- 数字 -->
            <div class="num1"><h1 id="num3">111111</h1></div>
            <!-- 超链接 -->
            <div class="a">
              <a href="https://i.snssdk.com/ugc/hotboard_fe/hot_list/template/hot_list/forum_tab.html?city_name=%E4%B8%8A%E6%B5%B7&city_code=310000&activeWidget=1&share_token=f512e6e5-f3c4-4d84-9b4d-7ddbf09c672e">了解更多</a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="container">
            <!-- 背景文字 -->
            <div class="text">病毒</div>
            <!-- 背景的圆形图案 -->
            <div class="circle4"></div>
            <!-- 商品图片 -->
            <div class="img">
              <img src="https://s1.ax1x.com/2022/03/18/qPvo0s.png" alt="" />
            </div>
            <!-- 商品名字 -->
            <h3>累计死亡</h3>
            <!-- 数字 -->
            <div class="num1"><h1 id="num4">111111</h1></div>
            <!-- 超链接 -->
            <div class="a">
              <a href="https://i.snssdk.com/ugc/hotboard_fe/hot_list/template/hot_list/forum_tab.html?city_name=%E4%B8%8A%E6%B5%B7&city_code=310000&activeWidget=1&share_token=f512e6e5-f3c4-4d84-9b4d-7ddbf09c672e">了解更多</a>
            </div>
          </div>
        </div>
      </div>
      <div id="c2">我是中2</div>
      <div id="r1">我是右1</div>
      <div id="r2">我是右2</div>
    </div>
  </body>

  <script src="../static/js/ec_left1.js"></script>
  <script src="../static/js/ec_left2.js"></script>
  <script src="../static/js/ec_center.js"></script>
  <script src="../static/js/ec_right1.js"></script>
  <script src="../static/js/ec_right2.js"></script>
  <script src="../static/js/controller.js"></script>
</html>
