<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试</title>
    <script src="../static/js/jquery-1.11.1.min.js"></script>
</head>
<body>
    <h1>疫情追踪</h1>
    <div id="d1"></div>
    <button id="b1">ajax测试</button>
</body>
    <script>
        $("#b1").click(function () {
            $.ajax({
                url:"/ajaxtest",
                type:"post",
                data:{"name":"张三"},
                success:function (d) {
                    $("#d1").html(d)
                },
                error:function () {
                    alert("请求失败")
                }
            })
        })
    </script>
</html>